<div>
    <input type="text" [(ngModel)]="_search">
    <div>
        @for (song of filteredSongsArr(); track $index) {
            <div (click)="onClickSong(song)" (class)="retrieveClassNameIfSongSelected(song)">
                <h3 >{{ song.title}} | {{ song.artist }}</h3>
            </div>
            <div>
                <button (click)="markOrUnmarkSongAsFavorite(song)">Preferit</button>
            </div>
        }
    </div>
    <!-- Això hauria de cridar al AddForm -->
    <button>Afegir cançó</button>
</div>